# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Log files
*.log

# vim swap files
*.swp

# Backup files
*.bak

# Java class files
*.class

# IDE settings for Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# H2 database files
*.h2.db
